.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* background-color: rgb(1, 19, 19); */

}
.input{
    border: 2px solid white;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 5px;
    background-color: gray !important;
    color: white ;

}
.divin{
    text-align: center;
    color: white;
    background-color: rgb(92, 92, 243);
    padding: 0px 20px;
}
.mainul{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    flex-direction: column;
    /* background-color: rgb(2, 19, 13); */
    color: aliceblue;
    margin-top: 10px;
    padding: 0px !important
}
.divbtn{
    width: 410px;
    background-color: rgb(92, 92, 243);
    text-align: right;
    padding: 5px 10px;
}
.btn{
    border: 2px solid white !important;
    background-color: gray !important;
    color: white !important;
    margin: 5px 5px;
}
.lie{
    display: flex;
    justify-content: center;
    align-items: center;
}